<ion-view view-title="Issue Details">
  <ion-content class="padding">
    <div class="card">  
      <img class="imgDetails" src="{{issue.imageUrl}}">
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <h2>Description:</h2>
        <p>{{issue.description}}</p>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <h2>Details:</h2>
        <ul>
          <li>Created at: {{issue.createdAt | date:'yyyy-MM-dd HH:mm'}}</li>
          <li>State: {{issue.state}}</li>

        </ul>
      </div>
      <div class="item item-text-wrap">
        <h2>Tags:</h2>
        <span ng-repeat="Tag in issue.tags">#{{Tag}} </span>
      </div>


    </div>
    <div class="card">

      <div class="item item-text-wrap">
        <h2>Comments:</h2>
        <ul>
          <li ng-repeat="Comment in comments">
            {{Comment.author.firstname}}: {{Comment.text}}
            <br>
            <br>

          </li>

        </div>
        <div class="item item-text-wrap">
          <h2>Add your comment:</h2>
          <!-- The login form that the citizen must fill. -->
          <form name="commentForm">

            <!-- Ionic uses lists to group related input elements. -->
            <div class="list">

              <label class="item item-input">
                <input type="text" placeholder="Your Comment" ng-model="singleCtrl.comment" required />
              </label>

            </div>

            <!-- Display an error message here, above the submit button, if an error occurred. -->
            <p ng-if="singleCtrl.comment.error" class="error">{{ singleCtrl.comment.error }}</p>

            <!--
            The submit button.
            The "ng-click" directive indicates which scope function to call when the form is submitted.
            The "ng-disabled" directive is used to disable the button if the form is invalid (i.e. the first name or last name is missing).
          -->
          <button class="button button-full button-positive" ng-click="singleCtrl.addComment()" ng-disabled="">Add your comment</button>
        </form>
      </div>


    </div>

  </ion-content>
</ion-view>
