<ion-view view-title="Issue List">
    <ion-content>
      <div class="button-bar">
        <a ng-click='issuesCtrl.toggleNew()' class="button" ng-class="{'button-balanced': issuesCtrl.filter == 'new'}">New</a>
        <a ng-click='issuesCtrl.toggleInProgress()' class="button" ng-class="{'button-balanced': issuesCtrl.filter == 'inProgress'}">In Progress</a>
        <a ng-click='issuesCtrl.toggleMine()' class="button" ng-class="{'button-balanced': issuesCtrl.filter == 'mine'}">Mine</a>
      </div>
      <div>
        <ion-list>
          <ion-item class="item-avatar" ui-sref="tab.issueDetailsList({ issueId: issue.id })" ng-repeat="issue in issuesCtrl.issues">
              <img ng-src="{{issue.imageUrl}}">
              <h2 class="positive">{{issue.description}}</h2>
              <p>{{issue.state}}</p>
          </ion-item>
        </ion-list>
      </div>
  </ion-content>
</ion-view>
