<ion-view view-title="Issue List">
    <ion-content>
      <div>
        <ion-list show-reorder="issuesCtrl.shouldShowReorder" ng-controller="IssuesCtrl as issuesCtrl">
          <ion-item class="item-avatar" ui-sref="issueDetails({id: issue.id})" ng-repeat="issue in issuesCtrl.issues">
              <img ng-src="{{issue.imageUrl}}">
              <h2 class="positive">{{issue.description}}</h2>
              <p>{{issue.state}}</p>
              <i class="icon ion-ios-arrow-right"></i>
          </ion-item>
        </ion-list>
      </div>
  </ion-content>
</ion-view>
