<ion-view view-title="New Issue">
  <ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl as logoutCtrl" ng-click="logoutCtrl.logOut()" class="button">Log Out</button>
  </ion-nav-buttons>
  <ion-content>
     <div class="item item-text-wrap">
        <h1>Add your Issue:</h1>
	    <!-- The login form that the citizen must fill. -->
	    <form name="commentForm">

	      <!-- Ionic uses lists to group related input elements. -->
	      <div class="list">
	       
	        <label class="item item-input">
	          <input type="text" placeholder="Description" ng-model="createCtrl.description" required />
	        </label>
	        <label class="item item-input">
	          <input type="text" placeholder="Tags, put tags seperated by a space and coma" ng-model="createCtrl.tags" />
	        </label>
	        <label class="item item-input">
	          <input type="text" placeholder="Image url" ng-model="createCtrl.img" />
	        </label>
	        <select ng-model="createCtrl.issue_type" ng-options="type as (type.description + ' - ' + type.name) for type in createCtrl.issueTypes">
	        <option value="">-- please choose a type --</option>

	      </select>
	        
	      </div>

	      <!-- Display an error message here, above the submit button, if an error occurred. -->
	      <p ng-if="createCtrl.createIssue.error" class="error">{{ createCtrl.createIssue.error }}</p>

	      <!--
	        The submit button.
	        The "ng-click" directive indicates which scope function to call when the form is submitted.
	        The "ng-disabled" directive is used to disable the button if the form is invalid (i.e. the first name or last name is missing).
	      -->
	      <button class="button button-full button-positive" ng-click="createCtrl.createIssue()" ng-disabled="">Create your issue</button>
	    </form>
      </div>
  </ion-content>
</ion-view>
