<ion-view view-title="Register">
  <ion-content class="padding">

    <!-- A banner. Choose an image and save it as www/img/banner.jpg -->
    <!--<img src="img/banner.jpg" width="100%" alt="Citizen Engagement" />-->

    <!-- A short welcome message. -->
    <div class="card">
      <div class="item item-text-wrap">
        Welcome to Citizen Engagement! Please create an account to use the application.
      </div>
    </div>

    <!-- The login form that the citizen must fill. -->
    <form name="registerForm">

      <!-- Ionic uses lists to group related input elements. -->
      <div class="list">
        <label class="item item-input">
          <!-- Note the required="required" attribute used for validation. -->
          <input type="text" placeholder="User Name" ng-model="registerCtrl.user.name" required />
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="registerCtrl.user.password" required />
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Please confirm password" ng-model="registerCtrl.user.confirm_password" required />
        </label>
        <label class="item item-input">
          <input type="text" placeholder="First name" ng-model="registerCtrl.user.firstname" required />
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Family name" ng-model="registerCtrl.user.lastname" required />
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Numéro de téléphone" ng-model="registerCtrl.user.phone" />
        </label>
      </div>

      <!-- Display an error message here, above the submit button, if an error occurred. -->
      <p ng-if="registerCtrl.error" class="error">{{ registerCtrl.error }}</p>

      <!--
        The submit button.
        The "ng-click" directive indicates which scope function to call when the form is submitted.
        The "ng-disabled" directive is used to disable the button if the form is invalid (i.e. the first name or last name is missing).
      -->
      <button class="button button-full button-positive" ng-click="registerCtrl.register()" ng-disabled="">Become a better citizen</button>
    </form>
  </ion-content>
</ion-view>
