<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="New Issue" icon-off="ion-plus-round" icon-on="ion-plus-round" ui-sref='tab.newIssue'>
    <ion-nav-view name="tab-newIssue"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Issue Map" icon-off="ion-map" icon-on="ion-map" ui-sref='tab.issueMap'>
    <ion-nav-view name="tab-issueMap"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Issue List" icon-off="ion-navicon-round" icon-on="ion-navicon-round" ui-sref='tab.issueList'>
    <ion-nav-view name="tab-issueList"></ion-nav-view>
  </ion-tab>
</ion-tabs>
